<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.BroadcastModelMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.model.BroadcastModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="date_fr" property="dateFr" jdbcType="DATE" />
    <result column="date_to" property="dateTo" jdbcType="DATE" />
    <result column="del_ind" property="delInd" jdbcType="TINYINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, content, date_fr, date_to, del_ind, create_by, create_date, update_by, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from broadcast
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from broadcast
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.BroadcastModel" >
    insert into broadcast (id, title, content,
      date_fr, date_to, del_ind, create_by,
      create_date, update_by, update_date
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR},
      #{dateFr,jdbcType=DATE}, #{dateTo,jdbcType=DATE}, #{delInd,jdbcType=TINYINT}, #{createBy,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.BroadcastModel" >
    insert into broadcast
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="dateFr != null" >
        date_fr,
      </if>
      <if test="dateTo != null" >
        date_to,
      </if>
      <if test="delInd != null" >
        del_ind,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="dateFr != null" >
        #{dateFr,jdbcType=DATE},
      </if>
      <if test="dateTo != null" >
        #{dateTo,jdbcType=DATE},
      </if>
      <if test="delInd != null" >
        #{delInd,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.BroadcastModel" >
    update broadcast
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="dateFr != null" >
        date_fr = #{dateFr,jdbcType=DATE},
      </if>
      <if test="dateTo != null" >
        date_to = #{dateTo,jdbcType=DATE},
      </if>
      <if test="delInd != null" >
        del_ind = #{delInd,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.BroadcastModel" >
    update broadcast
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      date_fr = #{dateFr,jdbcType=DATE},
      date_to = #{dateTo,jdbcType=DATE},
      del_ind = #{delInd,jdbcType=TINYINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <sql id="Base_Where">
    <trim prefix="where" prefixOverrides="and | or" >
      <if test="id != null">
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="title != null" >
        and title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="content != null" >
        and content = #{content,jdbcType=LONGVARCHAR}
      </if>
      <if test="dateFr != null" >
        and date_fr = #{dateFr,jdbcType=DATE}
      </if>
      <if test="dateTo != null" >
        and date_to = #{dateTo,jdbcType=DATE}
      </if>
      and del_ind = 0
    </trim>
  </sql>

  <select id="search" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List" />
    from broadcast
    <include refid="Base_Where" />
  </select>
</mapper>