<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.MessageModelMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.model.MessageModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="source_user_id" property="sourceUserId" jdbcType="INTEGER" />
    <result column="target_user_id" property="targetUserId" jdbcType="INTEGER" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="del_ind" property="delInd" jdbcType="TINYINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, source_user_id, target_user_id, message, del_ind, create_by, create_date, update_by,
    update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.MessageModel" >
    insert into message (id, source_user_id, target_user_id,
      message, del_ind, create_by,
      create_date, update_by, update_date
      )
    values (#{id,jdbcType=INTEGER}, #{sourceUserId,jdbcType=INTEGER}, #{targetUserId,jdbcType=INTEGER},
      #{message,jdbcType=VARCHAR}, #{delInd,jdbcType=TINYINT}, #{createBy,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.MessageModel" >
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sourceUserId != null" >
        source_user_id,
      </if>
      <if test="targetUserId != null" >
        target_user_id,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="delInd != null" >
        del_ind,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sourceUserId != null" >
        #{sourceUserId,jdbcType=INTEGER},
      </if>
      <if test="targetUserId != null" >
        #{targetUserId,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="delInd != null" >
        #{delInd,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.MessageModel" >
    update message
    <set >
      <if test="sourceUserId != null" >
        source_user_id = #{sourceUserId,jdbcType=INTEGER},
      </if>
      <if test="targetUserId != null" >
        target_user_id = #{targetUserId,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="delInd != null" >
        del_ind = #{delInd,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.MessageModel" >
    update message
    set source_user_id = #{sourceUserId,jdbcType=INTEGER},
      target_user_id = #{targetUserId,jdbcType=INTEGER},
      message = #{message,jdbcType=VARCHAR},
      del_ind = #{delInd,jdbcType=TINYINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <sql id="Base_Where">
    <trim prefix="where" prefixOverrides="and | or" >
      <if test="id != null">
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="sourceUserId != null" >
        and source_user_id = #{sourceUserId,jdbcType=INTEGER}
      </if>
      <if test="targetUserId != null" >
        and target_user_id = #{targetUserId,jdbcType=INTEGER}
      </if>
      <if test="message != null" >
        and message = #{message,jdbcType=VARCHAR}
      </if>
      and del_ind = 0
    </trim>
  </sql>

  <select id="findMessages" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from message
    where (source_user_id = #{sourceUserId,jdbcType=INTEGER} and target_user_id = #{sourceUserId,jdbcType=INTEGER})
    or (source_user_id = #{targetUserId,jdbcType=INTEGER} and target_user_id = #{targetUserId,jdbcType=INTEGER})
    order by id asc
  </select>

</mapper>